<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor View</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/holistic/holistic.js" crossorigin="anonymous"></script>
    <!-- nav -->
    <script src="//code.jquery.com/jquery.min.js"></script>
  </head>

<body>
  <div class="nav">
    <!--Navigation bar-->
    <div id="nav-placeholder">
      <script>
        $.get("nav", function (data) {
          $("#nav-placeholder").replaceWith(data);
        });
      </script>
    </div>
    <!--end of Navigation bar-->
  </div>
  <div class="wrapper">
    <div class="left">
      <video class="input_video" id="camera"></video>
      <canvas class="output_canvas" width="1280px" height="720px"></canvas>

      <button onclick="toggleCamera()">Show/Hide Camera</button>
      <button onclick="reset()">Reset Values</button>
    </div>
    <div class="right">
      
      <div class="reactions">
        <h2>Class Reactions</h2>
        <div id="cloud"></div>
      </div>
      <div class="handRaisedList">
        List of people with hand raised 
        <br>
        <div id="peopleHandRaised"></div>
      </div>
    </div>
  </div>
  <div class="emotions-title-wrapper"><h2>Class Emotions</h2></div>
  <div id="class-emotions" class="class-emotions">
  </div>
  
  <!-- Socket IO  -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="/static/js/classMain.js"></script>
  <script src="/static/js/classReceiver.js"></script>
</body>

</html>