<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
    <!-- eek -->
    <script src="//code.jquery.com/jquery.min.js"></script>

    <title>Home</title>
</head>
<body>

  <div class="nav">
  <!--Navigation bar-->
  <div id="nav-placeholder">
    <script>
      $.get("nav", function(data){
          $("#nav-placeholder").replaceWith(data);
      });
      </script>
  </div>
  

  <!--end of Navigation bar-->
  </div>
  <div class="wrapper">
    <div class="left">
      <img src="static/res/landing.jpg" class="landing-img" alt="landing" />
    </div>
    <div class="right">
      <div class="reactions">
        <div class="reaction-header">
          <h2>how are you feeling today?</h2>
          <h4>it's important to understand how everyone is doing today</h4>  
        </div>
        
        <h3>Pick an emoji that best describes your mood today</h3>
        <!-- <div class="emojis">
          <p class="emoji-choice" onClick="handleChoice" id="happy">😄</p>
          <p class="emoji-choice" onClick="handleChoice" id="ready">🤓</p>
          <p class="emoji-choice" onClick="handleChoice" id="notgreat">🙃</p>
          <p class="emoji-choice" onClick="handleChoice" id="sad">😞</p>
          <p class="emoji-choice" onClick="handleChoice" id="dying">😱</p>
          <p class="emoji-choice" onClick="handleChoice" id="sick">😷</p>
        </div> -->
        <div>
        <div class="emojis" id="emoji-select">
          <input type="radio" id="happy" name="emoji-choice" value="happy">
          <label for="happy">😄</label>
          <input type="radio" id="ready" name="emoji-choice" value="ready">
          <label for="ready">🤓</label>
          <input type="radio" id="notgreat" name="emoji-choice" value="notgreat">
          <label for="notgreat">🙃</label>
          <input type="radio" id="sad" name="emoji-choice" value="sad">
          <label for="sad">😞</label>
          <input type="radio" id="dying" name="emoji-choice" value="dying">
          <label for="dying">😱</label>
          <input type="radio" id="sick" name="emoji-choice" value="sick">
          <label for="sick">😷</label>
        </div>

        <input type="name" class="form-control" id="name"  placeholder="Please enter your name">
        <!-- Dii\splay flex -->
        <div class="alert alert-danger" id="missingName" role="alert">
          Please enter a name
        </div>
        <!-- <button onclick="window.location.href = '/instructor'" type="moodshare">Share mood with meeting</button> -->
        <button id="submitMood" type="moodshare">Share mood with meeting</button>

      </div>



      </div>
    </div>
  </div>

  <!-- Socket IO  -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="/static/js/instructor.js"></script>

 
</body>
</html>