<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="ugh, hi." name="description">
        <meta content="Makeup Webcam" name="title">
        <title>Face Detection</title>
    </head>
    <body>
        <div id="container">
            <div>
            <video autoplay="true" id="videoElement" width="640" height="480"></video>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script src="/static/js/testScript.js"></script>
    </body>
</html>