@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}

* { box-sizing: border-box; }

.nav {
  width: 100vw;
  height: 72px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 90vh;
  color: black;
  padding: 32px;
}

#cloud {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.left, .right {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.output_canvas {
  display: none;
}

#camera {
  display: flex;
  width: 320px;
  height: 180px;
  /* background: black; */
}

.reactions {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 4px;
  width: 90%;
  height: 400px;
  background: rgba(155, 206, 240, .3);
}